.tablink {
    background-color: orange;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px;
    font-size: 16px;
    width: 20%;
    margin-bottom: 10px;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  .tabcontent {
    color: black;
    display: none;
    padding: 20px;
    text-align: left;
  }

  #Login {background-color:blue;}
  #EmployeeInput {background-color:green;}
  #EmployeeList {background-color:purple;}
  #DivisionInput {background-color:red;}
  #DivisionList {background-color:whitesmoke;}
  #DivisionAssignment {background-color:whitesmoke;}

.form-add {
    width: 25%;
    padding: 5px 5px;
    margin: 5px 0;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
}

.btn-add {
    width: 45.8%;
    background-color: #396a94;
    color: white;
    padding: 5px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #5bc0de;
}

.btn-change {
    background-color: orange;
    color: black;
    padding: 5px 5px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}

.btn-change:hover {
    background-color: #f1b55f;
}

.btn-discard {
    background-color: red;;
    color: white;
    padding: 5px 5px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}

.btn-discard:hover {
    background-color: #f5554a;
}

.box {
    border-radius: 5px;
    background-color: rgb(216, 214, 214);
    padding: 10px 20px 20px 20px;
    border: 1px solid black;
    margin-top: 45px;
}

#table, #tabledivision{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#table td, #table th, #tabledivision td, #tabledivision th {
    border: 1px solid white;
    padding: 5px;
}


#table th, #tabledivision th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color:rgb(179, 179, 230);
    color: black;
    border: 1px solid white;
}

label{
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}